@import "tailwindcss";

#root {
  margin: 0px;
  width: 100%;
  padding: 2rem 0rem;
  text-align: center;
}

.wrapper{
  display: flex;
  color: white;
  
}

@theme{
  --animate-typewriter: typewriter 2s steps(33) forwards;
  --animate-backtypewriter: backtyping 2s steps(33) backwards;
  --animate-caret: typewriter 2s steps(33) forwards, blink 1s steps(33) infinite 2s;
}
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    0.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    50.1% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

